<html>

<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <% for (var i=0; i<nav.length;i++) {%>

            <li><a href="/<%=nav[i]%>">
                    <%=nav[i]%> </a></li>
            &nbsp;
            <% } %>
        </ul>
    </div>

    <br>
    <h3>Your Saleforce Accounts</h3>
    <ul>
        <% results.forEach(function(r) { %>
        <li>
            <strong>
                <%= r.name %></strong>
            <small>
                <%= r.accountnumber %></small>
        </li>
        <% }); %>
    </ul>
    <footer>
        Created @ bzLabs.io
    </footer>
    </home>

</html>