<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="css/stickyfooter.css" rel="stylesheet">
</head>

<body>
    <%- include navbar.ejs %>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <div class="container">
            <h3 align="center">Your Saleforce Contacts</h3>

            <ul class="list-group">
                <% results.forEach(function(r) { %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <%= r.name %></strong>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <%= r.email %></small>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <%= r.description %></small>
                        </div>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <%- include footer.ejs %>
    </home>

</html>